.dashboard-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

#welcome-message {
  color: #6c757d;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.register-alert {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.register-button {
  background-color: #BCCFF8;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 0.5rem;
  border-color: transparent;
  font-weight: bold;
}

.register-button:hover {
  cursor: pointer;
  background-color: #6688D2;
  color: white;
}

.alert-button {
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: #FDD386;
  border-color: transparent;
}

.alert-button:hover {
  cursor: pointer;
  background-color: #f8be53;
}

.filter-search {
  display: flex;
  gap: 1rem;
}

.filter-button {
  background-color: white;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  color: #6c757d;
  border-color: #ced4da;
}

.filter-button:hover {
  cursor: pointer;
  background-color: #ced4da;
  color: black;
}

.search-input {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}

.content-area {
  margin-top: 0;
}

.competition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
}